@import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow+Condensed&display=swap');

body {
    margin: 0;
    padding: 0;
}

/*--------------------Header------------*/

header {
    width: 100%
}

.logo h1 {
    font-size: 50px;
    font-family: "Alata", sans-serif;
    text-align: center;
    padding: 20px 0;
    letter-spacing: 5px;
    background-color: #612626;
}

.logo a {
    text-decoration: none;
    color: #ccbfbf;
}

.uppercase {
    text-transform: uppercase;
}

.nav-color {
    background-color: #f3f2f2;
}

.nav-item a,
.introducion-heading a {
    color: #000;
}

.nav-item a:hover,
.introducion-heading a:hover {
    color: #716f6f;
}

/*---------------------Head Picture-------------*/

.container-start {
    height: 450px;
    background: url(../images/pt-marion-kopia.jpg)center fixed;
}

.container-start-second {
    height: 250px;
    background: url(../images/pt-marion-kopia.jpg)center fixed;
}

.container-start-about {
    height: 450px;
    background: url(../images/coach.jpg)center fixed;
}

.container-about-second {
    height: 250px;
    background: url(../images/coach.jpg)center fixed;
}

.container-start-comp {
    height: 450px;
    background: url(../images/lyft.jpg)center fixed;
}

.container-comp-second {
    height: 250px;
    background: url(../images/lyft.jpg)center fixed;
}

.container-start-gym {
    height: 450px;
    background: url(../images/cs-hjalpen.jpg)center top fixed;
}


/*----------------------Start page text-----------*/

.text-container {
    width: 100%;
    display: block;
    margin-bottom: 100px;
    margin-top: 40px;
}

.introducion-heading {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 45px;
}

.introducion-heading a {
    text-decoration: none;
}

.introducion-column-1,
.introducion-column-2,
.introducion-column-3 {
    padding-left: 60px;
    padding-top: 40px;
}

/*----------------------Contact form-----------*/

.contact-form {
    width: 50%;
    margin-left: 25%;
    margin-right: 25;
    margin-top: 100px;
    margin-bottom: 100px;
}

.form-heading {
    font-family: "Barlow Condensed", sans-serif;
    text-align: center;
    font-size: 45px;
}

.submit-button {
    background-color: #bbb6b6;
}


/*-----------------Sub page heading--------*/

.container-sub-page {
    width: 100%;
    height: 450px;
    position: relative;
}

.sub-page-heading {
    color: #fff;
    padding: 30px 50px;
    background-color: #714c4c8c;
    width: 50%;
    text-align: center;
    margin-left: 25%;   
    position: absolute;
    top: 120px;
    border-radius: 5px;
}

.sub-page-heading-section h1 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 500%;
    font-weight: 500;
    letter-spacing: 5px;
    
}

/*--------------------About---------------*/

.top-row {
    margin: 20px;
}

.about-picture-top,
.about-picture-middle {
    height: 400px;
    margin: 30px;
}

.about-picture-top {
    background: url(../images/marion-gunga.jpg)center center no-repeat;
    background-size: 300px 300px;
    border-left: solid #6f4b4b 5px;
}

.about-picture-middle {
    background: url(../images/marion-gymnastik.jpg) center center no-repeat;
    background-size: 300px 300px;
    border-right: solid #6f4b4b 5px;
}

.about-text-top,
.about-text-middle,
.comp-heading {
    font-size: 30px;
    text-align: center;
    padding-top: 80px;
    font-family: "Alata", sans-serif;
    letter-spacing: 5px;
}

.about-text-top p,
.about-text-middle p {
    font-family: sans-serif;
    font-size: 14px;
    padding-top: 30px;
}

.about-text-top p {
    text-align: right;
}

.about-text-middle p {
    text-align: left;
}


/*--------------------Competition---------------*/

.comp-cross-table,
.comp-gym-table {
    font-family: sans-serif;
    text-align: left;
    font-size: 14px;
}

.comp-picture-top,
.comp-picture-middle {
    height: 400px;
    margin: 30px;
}

.comp-picture-top {
    background: url(../images/marion-crossfit.jpg)center center no-repeat;
    background-size: 300px 300px;
    border-left: solid #6f4b4b 5px;
}

.comp-picture-middle {
    background: url(../images/comp-gymn.jpg) center center no-repeat;
    background-size: 300px 300px;
    border-right: solid #6f4b4b 5px;
}
 

/*--------------------Footer---------------*/

.container-footer {
    height: 75px;
    background-color: #612626;
}

.footer-email,
.footer-phone {
    display: block;
    line-height: 75px;
    font-size: 15px;
    color: #ccbfbf;
}

.inline-footer-text {
    display: inline;
}

.footer-email {
    padding-left: 40px;
}

.footer-phone {
    text-align: right;
    padding-right: 40px;
}

.social-links {
    text-align: center;
}

.list-inline {
    font-size: 25px;
    line-height: 75px;
    letter-spacing: 5px;
    margin-bottom: 0;
}

.list-inline-item i {
    width: 30px;
    height: 30px;
    padding: 3px;
    border-radius: 50%;
    background-color: #ccbfbf;
}
